@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(241 245 249 / var(--tw-bg-opacity));
  --background-end-rgb: rgb(248 250 252 / var(--tw-bg-opacity));
}

html {
  height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 2, 6, 23;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .top-button {
    @apply w-8 h-8 rounded-md
    flex items-center justify-center
    opacity-75 hover:opacity-100
    text-slate-400 hover:text-slate-600
    dark:text-slate-400 dark:hover:text-slate-200
    transition-all cursor-pointer;
  }
}